

.hero-wrapper {
    background-color: rgb(16, 15, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.line {
    z-index: 2;
    width: 1px;
    height: 5px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    /* top: 0; */
    right: 0;
    bottom: 0;
    opacity: 0;
    animation: infinite 4s slideRight linear;
    overflow: hidden;
}

@keyframes slideRight{
    0% {
        /* left: 110%; */
        width: 0px;
        opacity: 0;
    }
    86% {
        /* left: 10%; */
        opacity: 1;
    }
    100% {
        left: -50%;
        width: 100px;
        opacity: 0;
    }
}